<div id="status">
  Status
</div>
<ul id="sessions">
  <li>Name - Mac Address</li>
  <li>Name - Mac Address</li>
  <li>Name - Mac Address</li>
</ul>

<div>
  <input type="button" value="Start Game" id="start-game" />
</div>

<script type="text/javascript">
  $(function(){
    doit();
  });
</script>
